@media only screen and (min-width: 768px) {
	body {
		background: url('/app/webroot/img/background.jpg') fixed no-repeat;
		background-size: 100%;
	}
}

#header {
	margin: 21px 0 21px 0;
}

#header img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.navbar-brand {
	padding: 5px;
}

.navbar-brand img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.jumbotron {
	background: #EEEEEE;
}

.jumbo-title {
    padding: 15px;
}

.col-main {
	padding: 15px;
	margin-bottom: 15px;
}

.meteo {
    width: 150px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.well {
    background: transparent;
	border: 0;
	padding: 0;
}

.page-div p {
    text-align: justify;
}

tbody {
    margin: 2em;
    display: inline-block;
}

th, td {
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}


tbody>tr:nth-child(odd) {
    background: lightblue;
}

tbody>tr:hover {
    background: lightgrey;
    width: 100%;
}

tr:first-child td {
    font-weight: bold;
    background-color: #81B8C8;
}

.menu-manager tbody>tr {
	background-color:none !important;
}

.jumbo-title .admin-btn {
    margin-top: 4em;
    text-align: center;
}

.admin-btn .btn {
	margin-left: 1em;
}

.col-main {
	background: #EEEEEE;
}

.content {
	padding:10px; 
}

.date-update {
	text-align:right;
	font-style: italic;
}

.jumbotron {
	padding-top: 10px;
	padding-bottom: 10px;
}